  h1{
      text-align: center;
      display: block;
      font-size: 2em;
      font-weight: bold;
      margin-block-start: 0.25em;
      margin-block-end: 0.25em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  br{
    line-height: 60px
  }

  h2{
    text-align: center;
      margin-block-start: 0.1em;
      margin-block-end: 0.1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  fieldset{
    border-color: black;
  }

  #login{
    padding-top: 100px;
    text-align: center;
    line-height: 60px;
  }

  .notification{
    background-color: yellow;
  }

  table, th, td, tr{
    border:1px solid;
  }

  table{
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #statsButton{
    margin-top: 10px;
  }

.AccountSettingsHomePage{
    background-color: white;
    color: black;
}

 .button {
    background-color: #156283;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition-duration: 0.25s;
    width: 215px;
 }

 .button:hover {
    background-color: white;
    color: #156283;
 }

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*border-style: solid;*/
  /*border-color: white;*/
  background-color: dodgerblue;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Arial;
}

.sidebar form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

form.groups{
    bottom: 0;
    position: fixed;
}

.main-content {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Arial;
}

p.labelOfSetting{
    font-weight: bold;
    /*background-color: #156283;*/
    display: inline;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

  p.valueOfSetting{
      /*background-color: darkseagreen;*/
      display: inline;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 1em;
      margin-inline-end: 0px;
      width: 100px;
  }

ul{
    list-style-type: none;
    display: block;
    margin-block-start: 0.15em;
    margin-block-end: 0.15em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 1.2em;
}

  .settingsCategory {
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px;
      width: 850px;
      background-color: cadetblue;
  }

  img.logo{
      width:150px;
      height:150px;
      padding-top: 10px;
  }

  .top-right {
      position: absolute;
      top: 1em;
      right: 3em;
  }

.viewAccountSettings{
    display: flex;
      align-items: center;
      /*border-style: solid;*/
      /*border-color: white;*/
      height: 100px;
      width: 100px;
      position: fixed;
      top: 0;
      right: 0;
}

.accountButton {
    background-color: #156283;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition-duration: 0.25s;
    height: 50px;
 }

.accountButton:hover {
    background-color: dodgerblue;
 }

/*form.simpleSearchForm{
  display: grid;
  grid-template-columns: 1fr 1fr 125px;
  grid-gap: 10px;
  margin: 0 auto;
}

form.simpleSearchForm {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 200px) 60px;
  grid-template-rows: repeat(4, 60px);
  grid-gap: 10px;
  grid-template-areas:
    "departureLocation arrivalLocation departureDate"
    "numberOfAdults numberOfChildren flexibleDate"
    "saveParam blank search"
}

.departureLocation {
  grid-area: departureLocation;
  width: 200px;
}

.arrivalLocation {
  grid-area: arrivalLocation;
  width: 200px;
}

.departureDate {
  grid-area: departureDate;
  width: 100px;
}

.numberOfAdults {
  grid-area: numberOfAdults;
  width: 50px;
}

.numberOfChildren {
  grid-area: numberOfChildren;
  width: 50px;
}

.flexibleDate {
  grid-area: flexibleDate;
  width: 100px;
}

.saveParameters {
  width: 150px;
}

.searchForFlight {
  width: 150px
}*/



div.simpleSearch{
    border-style: solid;
    border-color: black;
    padding: 30px;
    border-radius: 10px;
}

input[type="number"] {
  width: 45px; /* adjust the width as desired */
       height: 30px;
}

input[type="text"] {
  width: 200px;
  height: 30px; /* adjust the width as desired */
}

input[type="date"] {
  height: 30px; /* adjust the width as desired */
}

input[type="checkbox"] {
  margin: 0 15;
  display: block;
  width: 30px;
  height: 30px;
}

div.departureLocation{
    float: left;
    width: 300px;
    font-size: 25;
}

div.arrivalLocation{
    float: left;
    width: 300px;
    font-size: 25;
}

div.departureDate{
    float: left;
    width: 150px;
    padding-right: 35px
}

div.numberOfAdults{
    float: left;
    width: 75px;
}

div.numberOfChildren{
    float: left;
    width: 75px;
}

div.flexibleDate{
    float: left;
    width: 100px;
    padding-right: 75px;
}

div.flexibleDaysGroup{
    float: left;
    width: 100px;
}

div.saveParam{
    float: left;
    padding-right: 200px;
}

div.search{
}

button.saveParam {
    background-color: #156283;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition-duration: 0.25s;
    height: 50px;
    width: 150px;
 }

button.saveParam:hover {
    background-color: dodgerblue;
 }

 button.search {
     background-color: #156283;
     color: white;
     border-radius: 8px;
     font-size: 15px;
     margin-top: 10px;
     border: none;
     border-radius: 5px;
     display: inline-block;
     transition-duration: 0.25s;
     height: 50px;
    width: 150px;
  }

 button.search:hover {
     background-color: dodgerblue;
  }

  h2.homepageHeader{
    text-align: center;
    font-family: Arial;
  }

h1.homepageHeader{
    text-align: center;
    font-family: Arial;
  }

   .savedParameter {
       background-color: dodgerblue;
       color: white;
       border-color: #156283;
       border-radius: 8px;
       font-size: 14px;
       margin-top: 10px;
       border: none;
       border-radius: 5px;
       display: inline-block;
       transition-duration: 0.25s;
       height: 40px;
      width: 270px;
    }

   .savedParameter:hover {
       background-color: #156283;
    }

div.savedSearches{
    padding-top: 20px;
}

h2.savedSearchesHeading{
    font-size: 20;
}

div.FlightSearchResult{
    border: 2px solid black;
    padding: 10px;
}

div.DepartureLocation{
    font-size: 30;
}

div.DestinationLocation{
    font-size: 30;
}